body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(/images/ciel.png);
  opacity: 0.7;
  background-size:cover;
background-repeat:no-repeat ;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #1c2661;
  opacity: 0.6;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 36px;
  color: white;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  margin:auto;
  margin-top: 100px;
  width: 50%;
  padding: 30px 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
  border-radius:5px ;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 20px auto;
 
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="number"] {
  font-size: 18px;
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 1px solid #3F51B5;
  border-radius: 5px;

}

input[type="number"]:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #3F51B5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: rgb(240, 173, 27);
}

#weather {

  margin: 0 auto;
  padding: 20px;
  color: #3F51B5;

}
#weather p{
 text-align: center;
 padding-bottom: 1px;
}



footer {
  background-color: #1c2661;
  opacity: 0.6;
  color: white;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}